body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.home_image {


background-image: url("../images/homes.png");
  background-color: #cccccc;
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.topnav {
  overflow: hidden;

  position: relative;
}


.topnav a {

  color: rgb(241, 233, 233);
  padding: 14px 40px;
  text-decoration: none;
  font-size: 1.7vw;
  font-family: cursive;
  display: block;

}

.topnav a.icon {
  
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.topnav a:hover {
  color: grey;
}

 .p1{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 2px;
  font-weight: bold;
  animation-name: example;
  animation-duration: 7s;
  animation-iteration-count: infinite;

  position:sticky;
  font-size: 2vw;
  justify-content: left;
  padding-left: 70px;
  padding-top: 200px;
  padding-bottom: 100px;
}
@keyframes example {
  0%   {color:rgb(87, 80, 80); left:0px; top:0px;}
  25%  {color:yellow; left:200px; top:0px;}
  50%  {color:blue; left:100px; top:30px;}
  75%  {color:rgb(220, 241, 220); left:0px; top:30px;}
  100% {color:rgb(36, 185, 196); left:0px; top:0px;}
}
.sec {
padding: 20px;
  background-color:aliceblue;
}
.grid-item {
  display: grid;
  position: relative;

  grid-template-columns: auto auto auto;
  gap: 10px;
  background-color: #909498;
  padding: 10px;
}

.grid-item > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 5px ;
  font-size: 30px;
}
h1{
  padding: 20px;
  margin: 30px;
  text-align: center;
  font-size: 2vw;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(111, 80, 80);
}
.grid-item  .item-p  {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1vw;
  text-align: center;
  padding: 20px;
  font-style: italic;

}
figcaption{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.5vw;
  color:rgb(80, 70, 55);

}
